@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal italic;
}

:root {
  --White: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --pink: hsl(280, 75%, 61%);
  --Purple-950: hsl(292, 42%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Purple-100);
  font-family: "WorkSans", sans-serif;
  font-size: 16px;
}

.background {
  width: 100%;
  height: 250px;
  background-color: var(--Purple-950);
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-position: top;
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1055px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__container {
  margin: 0 auto;
  width: 410px;
  height: 380px;
  background-color: var(--White);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
  margin-top: 150px;
}

.accordion__header {
  display: flex;
  gap: 15px;
}

.accordion__header img {
  width: 25px;
}

.accordion__header h1 {
  font-size: 2.3rem;
  color: var(--Purple-950);
}

.accordion__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
}

.accordion__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid var(--Purple-100);
  padding-bottom: 5px;
}

.accordion__element:last-child {
  border: none;
}

.accordion__element__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.accordion__element__title h2 {
  font-size: 0.8rem;
  color: var(--Purple-950);
  font-weight: 600;
}

.accordion__element__title h2:hover {
  font-weight: bold;
  color: var(--pink);
}

.accordion__element__title img {
  width: 25px;
}

.accordion__content {
  font-size: 0.7rem;
  color: var(--Purple-600);
  word-spacing: 2px;
  line-height: 15px;
  padding-bottom: 5px;
}

@media (max-width: 1024px) {
  .background {
    background-position: contain;
    background-size: 90%;
  }
}

@media (max-width: 810px) {
  .background {
    background-position: contain;
    background-size: 100%;
  }
}

@media (max-width: 425px) {
  .background {
    background-image: url(./assets/images/background-pattern-mobile.svg);
  }

  .accordion__container {
    width: 300px;
    height: 430px;
  }
}
